<h1 class="welcome-banner">Maven Trade</h1>
<!-- TODO: Greet the current user! -->
<body>
<p> Welcome to Maven Trade! The marketplace for all knowledge lovers and enthuasiasts. Whether you'd like to trade your deep knowledge in quantum physics for help with learning French or want to trade your debugging chops to get help solving an integral, this is the place for you.</p>
</body>
</html>
